<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="green">
            <i class="ace-icon fa fa-key bigger-110"></i>&nbsp;&nbsp;
            <strong>パースワードリセット</strong>
        </h4>
    </div>

    <div class="modal-body overflow-visible blue">

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="ace-icon fa fa-lock bigger-110"></i></span>
                <input type="password" class="col-xs-12" placeholder="新しいパースワード" name="password">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="ace-icon fa fa-key bigger-110"></i></span>
                <input type="password" class="col-xs-12" placeholder="新しいパースワード（確認用）" name="password2">
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-sm btn-success btn-save"><i class="ace-icon fa fa-check"></i> 保存</button>
        <button class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> 取消</button>
    </div>
</div>