<ul class="inbox-tabs nav nav-tabs padding-16 tab-size-bigger">

    <li class="li-new-mail pull-right">
        <button class="btn btn-success btn-msg">
            <i class="ace-icon fa fa-envelope bigger-130"></i>
            <span>メッセージ作成</span>
        </button>
    </li>

    <li class="active">
        <a data-toggle="tab" href="#inbox">
            <i class="blue ace-icon fa fa-inbox bigger-130"></i>
            <span>受信トレイ</span>
        </a>
    </li>

    <li>
        <a data-toggle="tab" href="#sentbox">
            <i class="orange ace-icon fa fa-paper-plane bigger-130"></i>
            <span>送信済み</span>
        </a>
    </li>

</ul>

<div class="tab-content no-border no-padding">
    <div id="inbox" class="tab-pane active"></div>
    <div id="sentbox" class="tab-pane"></div>
</div>
