<div class="page-header">
    <h1>Solr Index</h1>
</div>
<a id="user" class="btn btn-primary">
    <i class="ace-icon fa fa-group bigger-120"></i>
    <span class="bigger-110">全ユーザ</span>
</a>
<a id="group" class="btn btn-info">
    <i class="ace-icon fa fa-group bigger-120"></i>
    <span class="bigger-110">全グループ</span>
</a>
<a id="job" class="btn btn-info">
    <i class="ace-icon fa fa-briefcase bigger-120"></i>
    <span class="bigger-110">全案件</span>
</a>
<a id="post" class="btn btn-success">
    <i class="ace-icon fa fa-edit bigger-120"></i>
    <span class="bigger-110">全投稿</span>
</a>
<a id="message" class="btn btn-warning">
    <i class="ace-icon fa fa-envelope bigger-120"></i>
    <span class="bigger-110">全メッセージ</span>
</a>
<a id="announcement" class="btn btn-danger">
    <i class="ace-icon fa fa-bullhorn bigger-120"></i>
    <span class="bigger-110">全公告</span>
</a>
<a id="tag" class="btn btn-purple">
    <i class="ace-icon fa fa-tags bigger-120"></i>
    <span class="bigger-110">全タグ</span>
</a>