<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="blue">
            <i class="ace-icon fa fa-camera-retro bigger-110"></i>&nbsp;&nbsp;
            <strong>顔写真を調整</strong>
        </h4>
    </div>

    <div class="modal-body overflow-visible align-center">

        <img src="<%= obj.photoOriginal %>">

    </div>

    <div class="modal-footer">
        <button class="btn btn-sm btn-success btn-save"><i class="ace-icon fa fa-check"></i> 顔写真として設定</button>
        <button class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> 取消</button>
    </div>
</div>