<div class="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <a href="#home" class="btn btn-success"><i class="ace-icon fa fa-home"></i></a>
        <a href="#profile" class="btn btn-info"><i class="ace-icon fa fa-user"></i></a>
        <a href="#calendar" class="btn btn-warning"><i class="ace-icon fa fa-calendar"></i></a>
        <a href="#mailbox" class="btn btn-danger"><i class="ace-icon fa fa-inbox"></i></a>
    </div>
    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <a href="#home" class="btn btn-success"></a>
        <a href="#profile" class="btn btn-info"></a>
        <a href="#calendar" class="btn btn-warning"></a>
        <a href="#mailbox" class="btn btn-danger"></a>
    </div>
</div>

<ul class="nav nav-list">
    <li>
        <a href="#home">
            <i class="menu-icon fa fa-home"></i>
            <span class="menu-text">ホーム</span>
        </a>
    </li>
    <li>
        <a href="#post">
            <i class="menu-icon fa fa-edit"></i>
            <span class="menu-text">投稿</span>
        </a>
    </li>
    <li>
        <a href="#job">
            <i class="menu-icon fa fa-briefcase"></i>
            <span class="menu-text">案件管理</span>
        </a>
    </li>
    <li>
        <a href="#people/friends">
            <i class="menu-icon fa fa-user"></i>
            <span class="menu-text">友達</span>
        </a>
    </li>
    <li>
        <a href="#group/joined">
            <i class="menu-icon fa fa-group"></i>
            <span class="menu-text">グループ</span>
        </a>
    </li>
    <li>
        <a href="#bookmark">
            <i class="menu-icon fa fa-star"></i>
            <span class="menu-text">ブックマーク</span>
        </a>
    </li>
    <li>
        <a href="#calendar">
            <i class="menu-icon fa fa-calendar"></i>
            <span class="menu-text">カレンダ</span>
        </a>
    </li>
</ul>

<div class="sidebar-toggle sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-right"
        data-icon1="ace-icon fa fa-angle-double-left"
        data-icon2="ace-icon fa fa-angle-double-right">
    </i>
</div>