<div class="widget-body">

    <div class="widget-main">
        <h4 class="header blue lighter bigger">
            <i class="ace-icon fa fa-sign-in"></i>
            サインイン
        </h4>
        <form>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="ace-icon fa fa-envelope"></i></span>
                    <input class="form-control" type="email" name="email" placeholder="メールアドレス">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="ace-icon fa fa-lock"></i></span>
                    <input class="form-control input-medium" type="password" name="password" placeholder="パースワード">
                </div>
            </div>

            <a class="btn btn-sm btn-link btn-forgot">
                パースワード忘れたら
                <i class="ace-icon fa fa-question align-middle"></i>
            </a>

            <div class="space-12"></div>

            <div class="clearfix">
                <button class="btn btn-sm btn-block btn-info btn-signin" type="submit"
                        data-loading-text="<i class='ace-icon fa fa-spinner fa-spin white bigger-125'></i>&nbsp;&nbsp;認証中・・・">
                    <i class="ace-icon fa fa-sign-in align-middle bigger-125"></i>&nbsp;&nbsp;ログイン
                </button>
                <button class="btn btn-sm btn-block btn-success btn-show">
                    新規登録&nbsp;&nbsp;<i class="ace-icon fa fa-arrow-right fa-on-right"></i>
                </button>
            </div>
        </form>
    </div>

</div>