<div class="widget-body">

    <div class="widget-main">
        <h4 class="header green lighter bigger">
            <i class="ace-icon fa fa-list-alt"></i>
            新規ユーザ登録
        </h4>
        <div class="alert alert-danger">
            このメールアドレスは既に使われてますので、他のメールアドレスを使ってください。
        </div>
        <div class="alert alert-success">
            ご利用いただきありがとうございます！ご提供したメールアドレスにメールを送りました、ご確認してください。
        </div>
        <form>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="ace-icon fa fa-credit-card"></i></span>
                    <input class="form-control" name="firstName" placeholder="姓" style="width: 50%;">
                    <input class="form-control" name="lastName" placeholder="名" style="width: 50%; border-left: none;">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="ace-icon fa fa-envelope"></i></span>
                    <input class="form-control" type="email" name="email" placeholder="メールアドレス（アカウントID）">
                </div>
            </div>


            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="ace-icon fa fa-lock"></i></span>
                    <input class="form-control" type="password" name="password" placeholder="パースワード">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="ace-icon fa fa-key"></i></span>
                    <input class="form-control" type="password" name="passwordConf" placeholder="パースワード（確認）">
                </div>
            </div>

            <div class="space-12"></div>

            <div class="form-group">
                <label class="block">
                    <input class="ace" type="checkbox" name="agreement">
                    <span class="lbl">&nbsp;私は<a href="#" class="btn-statements">SELinkの利用規約</a>を同意します。</span>
                </label>
            </div>

            <div class="space-12"></div>
            <div class="clearfix">
                <button class="btn btn-sm btn-block btn-success btn-signup" type="submit"
                        data-loading-text="<i class='ace-icon fa fa-spinner fa-spin white bigger-125'></i>&nbsp;&nbsp;処理中・・・">
                    <i class="ace-icon fa fa-check"></i>&nbsp;&nbsp;登録
                </button>
                <button class="btn btn-sm btn-block btn-info btn-signin"
                        data-loading-text="<i class='ace-icon fa fa-spinner fa-spin white bigger-125'></i>&nbsp;&nbsp;認証中・・・">
                    <i class="ace-icon fa fa-arrow-left"></i>&nbsp;&nbsp;ログイン
                </button>
            </div>
        </form>
    </div>

</div>