<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="red">
            <i class="ace-icon fa fa-book bigger-110"></i>&nbsp;&nbsp;
            <strong>SELink利用規約</strong>
        </h4>
    </div>

    <div class="modal-body overflow-visible blue" style="min-height: 500px;">
        <dl>
            <dt>●第1条(SELink)</dt>
            <dd>
                <p>「SELink」(以下、「本サービス」といいます)とは、XXX株式会社(以下「弊社」といいます)が提供するインターネット上の営業支援SaaSサービス(http://www.selink.jp/)のことをいいます。</p>
            </dd>

            <dt>●第2条(クライアント)</dt>
            <dd>
                <ol>    
                    <li>
                        「SELinkクライアント」(以下「クライアント」といいます)は、本サービスを利用することができます。
                    </li>
                    <li>
                        「クライアント」とは、本規約を承諾の上、弊社が指定する手続きに従って申込みを行い、かつ弊社が本サービスの利用を承認した法人、個人およびその他の団体をいいます。
                    </li>
                    <li>
                        「ビジネスパートナー企業」（以下「ビジネスパートナー」といいます）とは、クライアントが本サービス上で取引先企業として登録した法人、個人およびその他の団体をいいます。
                    </li>
                    <li>
                        当該申込みおよび承認後、クライアントは本サービスを利用できるものとします。クライアントは申込みの時点で本規約の内容を承諾したものとみなします。なお、申込みには初回のみ有効な無料アカウントの申込みも含むものとします。
                    </li>
                </ol>
            </dd>

            <dt>●第3条(申込みと申込み審査)</dt>
            <dd>
                <ol>                    
                    <li>
                        本サービスのクライアントとなることを希望する法人、個人およびその他の団体は、申込書に捺印し弊社に送信すること、もしくは、インターネット上の申込みページの「同意する」のボタンを押し、申込みに必要な情報を登録、送信することをもって申込みをしたものとみなします。
                    </li>
                    <li>
                        弊社は前項の申し込みについて弊社所定の審査を行います。
                    </li>
                    <li>
                        弊社は、本サービス利用を申し込んだ法人、個人およびその他の団体が、以下の各号のいずれかに該当する場合又は該当するおそれがあると判断した場合には、その申込を拒否することができ、弊社はこれについて一切の責任を負わず、また申込を拒否する理由を申込者に説明する義務を負わず、申込者はそれにつき異議を申し立てないものとします。
                        <ol>                
                            <li>本規約に違反する行為を現に行い又は行うおそれがあると弊社が判断する場合。</li>
                            <li>弊社に提供された登録事項の全部又は一部につき虚偽、誤記又は記載漏れがあった場合。</li>
                            <li>反社会的活動を行う団体もしくはこれらと関連のある団体その他反社会的勢力に所属している者またはそれらに所属していた経歴を有する者。</li>
                            <li>過去に第14条各号のいずれかに該当する行為を行った者、または第17条第3項に基づきクライアント登録を抹消された者。</li>
                            <li>その他弊社が本サービスを提供することが不適切であると認めた者。</li>
                        </ol>
                    </li>
                </ol>
            </dd>

            <dt>●第4条（利用期間）</dt>
            <dd>
                <ol>
                    <li>
                        クライアントは、本サービスの利用に当たって原則として、インターネット上の申込みページ、または申込書、契約書、あるいは覚書などに記載された期間によって本サービスの提供を受けるものとします。
                    </li>
                    <li>
                        弊社は、クライアントとの契約期間中のみクライアントにパスワードを発行し、本サービスを利用することを許可するものとします。
                    </li>
                </ol>
            </dd>

            <dt>●第5条(本サービスの変更)</dt>
            <dd>
                <p>弊社は、クライアントへの事前の通知なくして、本サービスの変更を行うことがありクライアントはこれを承諾します。</p>
            </dd>

            <dt>●第6条(本サービスの中断)</dt>
            <dd>
                <ol>
                    <li>
                        弊社は、以下のいずれかに該当する場合には、クライアントに事前に通知することなく、本サービスの利用の全部又は一部を永久的に停止又は一時的に中断することができるものとします。
                        <ol>
                            <li>本サービスに係るコンピューター・システムの点検ならびに保守作業を定期的あるいは緊急に行う場合。</li>
                            <li>本サービスに係るコンピューター・システム、通信回線等が事故により停止した場合。</li>
                            <li>火災、停電、天災地変などの不可抗力により本サービスの運営ができなくなった場合。</li>
                            <li>その他、弊社が停止又は中断を必要と判断した場合。</li>
                        </ol>
                    </li>
                    <li>
                        弊社は、前項に基づき弊社が行った措置に基づき利用者に生じた損害について一切の責任を負いません。
                    </li>
                </ol>
            </dd>

            <dt>●第7条(メールアドレス及びパスワードの管理)</dt>
            <dd>
                <ol>
                    <li>
                        クライアントは、自社の責任において、メールアドレス及びパスワードを管理及び保管するものとし、これを第三者に利用させたり、貸与、譲渡、名義変更、売買等をしてはならないものとします。
                    </li>
                    <li>
                        メールアドレス又はパスワードの管理不十分、使用上の過誤、第三者の使用等による情報漏洩、および損害の責任はクライアントが負うものとし、弊社は一切の責任を負いません。
                    </li>
                    <li>
                        クライアントは、メールアドレス又はパスワードが盗まれたり、第三者に使用されていることが判明した場合には、直ちにその旨を当社に通知するとともに、弊社からの指示に従うものとします。
                    </li>
                </ol>
            </dd>

            <dt>●第8条（クライアント情報の変更）</dt>
            <dd>
                <ol>
                    <li>クライアントは、弊社への申込み内容や届出内容に変更があった場合には、速やかに弊社に連絡する義務を負います。</li>
                    <li>前項に定める連絡がなかったことで、クライアントが不利益を被ったとしても、弊社は一切その責任を負いません。</li>
                </ol>
            </dd>

            <dt>●第9条(クライアントの責任)</dt>
            <dd>
                <ol>
                    <li>クライアントは弊社からご案内する方法に従って、本サービスを利用するものとします。</li>
                    <li>クライアントは、自らの意思によってのみ本サービスを申込み、クライアントとなるものとします。</li>
                    <li>クライアントが申込み時に送信した情報、および本サービス利用時に本サービスに登録した情報は、クライアント自らがその内容について責任を負うものとし、当該情報に他の権利者がいる場合は、権利者の承諾を得るものとする。</li>
                    <li>クライアントは自らが本サービスに登録した情報をいつでも変更、追加、削除することができます。ただし、本サービスへの更新の反映については時間を要するものがあり、また情報によっては弊社の審査が必要となり追加できないものがあることを承諾します。</li>
                    <li>クライアントは自らの意思によって本サービスを利用し、利用に関わる全ての責任を負うものとします。</li>
                    <li>クライアントは、自己の責任においてビジネスパートナーを本サービス上で登録するものとし、登録に際しては当該ビジネスパートナーと個人特定情報を含む機密情報の保持契約を締結しているものとする。</li>
                </ol>
            </dd>

            <dt>●第10条(ダウンロード等についての注意事項)</dt>
            <dd>
                <p>クライアントは、本サービスの利用開始又は利用中に際し、弊社ウェブサイトからのダウンロードその他の方法によりソフトウェア等を利用者のコンピューター等にインストールする場合には、クライアントが保有する情報の消滅もしくは改変又は機器の故障、損傷等が生じないよう十分な注意を払うものとし、弊社はクライアントに発生したかかる損害について一切責任を負わないものとします。</p>
            </dd>

            <dt>●第11条(情報の保存)</dt>
            <dd>
                <p>弊社は、クライアントが本サービス上で送受信したメッセージ、保存した技術経歴書又は案件情報、その他の情報を運営上一定期間保存していた場合であっても、かかる情報を保存する義務を負うものではなく、弊社はいつでもこれらの情報を削除できるものとします。なお、弊社は本条に基づき弊社が行った措置に基づきクライアントに生じた損害について一切の責任を負いません。</p>
            </dd>

            <dt>●第12条(機密保持)</dt>
            <dd>
                <ol>
                    <li>
                        弊社は、クライアントが保有する個人を特定できる項目(氏名、住所、電話番号、メールアドレス)の情報(以下「本人特定情報」といいます)をクライアントの承認なしにビジネスパートナーなどの第三者には公開しないものとします。ただし、下記の場合は弊社の義務は免責されます。
                        <ol>
                            <li>クライアント自らが本サービスの機能または別の手段を用いて特定の企業に個人情報を明らかにする場合。</li>
                            <li>本人を特定できる情報以外の登録した内容により、期せずして本人が特定できてしまった場合。</li>
                            <li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合で、クライアントの同意を得ることによりその事務の遂行に支障を及ぼすおそれがある場合。</li>
                            <li>クライアントから明示的に第三者への開示または提供を求められた場合。</li>
                            <li>その他、クライアントへ本サービスを提供するために必要であると弊社が合理的に判断した場合。</li>
                        </ol>
                    </li>
                    <li>
                        クライアントおよびクライアントの従業員は、弊社より提供された個人事業主などの個人情報、または、本サービスの利用を通じて知りえた業務上の機密情報を適切に管理・保護し、必要な営業活動の範囲内でのみ利用できるものとし、第三者に開示、提供、漏洩することはできないものとします。
                    </li>
                    <li>クライアントおよび弊社は、社内に個人情報保護責任者を任命し、個人情報保護体制を整備し、社員に対する安全対策を実施しています。</li>
                    <li>クライアントは、個人情報を含む機密情報の提供を受けたあと、クライアントのもとで生じた不正アクセス、喪失、破壊、改ざんおよび漏洩について責任を負うものとします。</li>
                    <li>本条第2項および第4項は、契約終了後も有効に存続します。</li>
                </ol>
            </dd>

            <dt>●第13条(第三者の範囲)</dt>
            <dd>
                <p>弊社が利用目的(クライアントへの本サービスの提供)の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合(委託先における個人情報の取扱いについては弊社が責任を負います)、個人情報の提供を受ける者は、第三者に該当しないものとします。</p>
            </dd>

            <dt>●第14条(クライアントの禁止事項)</dt>
            <dd>
                クライアントは本サービス上で以下の行為をしないものとします。
                <ol>
                    <li>虚偽の情報を登録する行為。</li>
                    <li>弊社、ビジネスパートナー、他のクライアント又は第三者の著作権、肖像権、その他知的所有権、及び弊社に対する権利を侵害する行為。</li>
                    <li>弊社、ビジネスパートナー、他のクライアント又は第三者の財産、プライバシー等を侵害する行為。</li>
                    <li>弊社、ビジネスパートナー、他のクライアント又は第三者を誹謗中傷する行為及び弊社に対する権利侵害行為。</li>
                    <li>その他いかなる法に違反する行為、またはその虞のある行為。</li>
                    <li>犯罪的行為に結びつく行為。</li>
                    <li>公序良俗に反する行為。</li>
                    <li>反社会的活動に関する行為。</li>
                    <li>本サービスが提供するIT企業向け営業支援SaaSサービスと同様のサービスを行う行為。</li>
                    <li>本サービスを通じて入手した情報を、複製、販売、出版その他私的利用の範囲を超えて使用する行為。</li>
                    <li>本サービスを利用した、本サービスとは関連の無い営業活動、営利を目的とする情報提供活動行為。</li>
                    <li>本サービスの運営を妨げ、或は弊社の信用を毀損するような行為、またはその虞のある行為。</li>
                    <li>ビジネスパートナーから本サービスを利用した情報提供の停止通知を受け取ったにも拘らず、左記ビジネスパートナーに対して本サービスを利用して情報提供を行う、同一の企業に繰り返し技術者情報や案件情報のメール送信を行う、その他ビジネスパートナーに迷惑を及ぼす行為。</li>
                    <li>本サービスとは関連のない営業や広告などのメール、ジャンクメール、スパム、不幸の手紙、ねずみ講（無限連鎖講）その他のあらゆる繰り返し送られるメッセージやメッセージの依頼を受けず、または許諾を受けずに送ることに関し、本サービスの情報を利用すること、または、案件情報や技術者情報に関する問い合わせ以外のメールを弊社、ビジネスパートナー、他のクライアント又は第三者に繰り返し送信する行為。</li>
                    <li>弊社、ビジネスパートナー、他のクライアント又は第三者に対して送信する情報、送付する資料等に、真実又は正確ではない記載をする行為。</li>
                    <li>コンピューター・ウィルスその他の有害なコンピューター・プログラムを含む情報を本サービス上にアップロードまたは、メールで弊社、ビジネスパートナー、他のクライアント又は第三者に送信する行為。</li>
                    <li>本サービスに関し利用し得る情報を改ざんする行為。</li>
                    <li>パスワードマイニングやその他手段により、本サービス、弊社、ビジネスパートナー、他のクライアント又は第三者のアカウントもしくはコンピュータシステム、または本サービスに接続しているネットワークへ未承認アクセスを試みる行為。</li>
                    <li>本規約に違反する行為。</li>
                </ol>
            </dd>

            <dt>●第15条(免責)</dt>
            <dd>
                <ol>
                    <li>クライアントの本サービスへの申込もしくは申込拒否、クライアントによる本サービスの利用、弊社による本サービスの中断もしくは終了、又は本サービスからの申込情報や登録情報の抹消による損害から、その他本サービスに関して生じる一切の損害(精神的苦痛、事業の中断、またはその他の金銭的損失を含む一切の不利益)に関して、弊社は責任を負わないものとします。</li>
                    <li>クライアントは、自己の責任において本サービスを利用するものとし、弊社は、クライアントとビジネスパートナー企業または第三者との間に生じた紛争もしくはクライアントに生じた損害について一切の責任を負わないものとし、クライアントが自らの責任及び負担においてそれらを解決するものとし、弊社に何等の迷惑または損害を与えないものとします。</li>
                </ol>
            </dd>

            <dt>●第16条(提供された情報の弊社による利用)</dt>
            <dd>
                <ol>
                    <li>弊社は、個人を特定可能な情報以外の情報および本サービスの利用状況について、弊社の編集、発行または発売するもの等に二次利用できるものとします。なお、この場合の著作権は弊社が所有保有するものとします。</li>
                    <li>弊社は、クライアントから提供された本サービスについての改善案、アイデア、フィードバック、勧告またはその他の情報に関するすべての権利、権限および利益（関連するすべての知的財産権を含む）を所有するものとし、クライアントは、弊社に対し当該権利を無償で譲渡することに同意するものとします。</li>
                </ol>
            </dd>

            <dt>●第17条(申込情報および登録情報の抹消)</dt>
            <dd>
                <ol>
                    <li>本サービスのデータベースに保存されている利用履歴のうち、一定の期間を超えるものは、本サービスのデータベース・メンテナンスの際に抹消されることがあります。</li>
                    <li>弊社は、クライアントがビジネスパートナーとして本サービス上に登録している企業のメールアドレスに宛てられた電子メールが5回以上受信されなかった場合、当該メールアドレスを抹消することができます。</li>
                    <li>弊社が次のいずれかに該当すると判断した場合、クライアントが申込、登録、提供した情報を削除します。
                        <ol>
                            <li>第14条の禁止事項をおこなった場合。</li>
                            <li>本サービスの維持、管理上必要である場合。</li>
                            <li>契約によって定めた利用期間が終了した場合。</li>
                        </ol>
                    </li>
                </ol>
            </dd>

            <dt>●第18条（内容の保障）</dt>
            <dd>
                弊社は、本サービスの利用に関し、クライアントに対して以下のことを保証いたしません。
                <ol>
                    <li>本サービスを通じてクライアントがビジネスパートナーや他のクライアント又は第三者から得る情報についての、その正確性、確実性、適時性。</li>
                    <li>本サービスの利用が安全であり、適時的であり、中断されないものであり、他のハードウェアおよびソフトウェアのシステムやデータと互換性があること。</li>
                    <li>本サービスが、お客様の要求または要望に適っていること。</li>
                    <li>本サービスの利用中に発生したエラーまたは欠陥が修正されること。</li>
                    <li>本サービスおよび本サービスを利用可能にするサーバに、ウィルスその他の有害な要素がないこと。</li>
                    <li>貴社のインターネット回線利用度や電子取引等のデータ通信量などにより発生したデータ送信の遅延や遅延によるデータ損失等についての責任。</li>
                </ol>
            </dd>

            <dt>●第19条（契約の解除）</dt>
            <dd>
                <ol>
                    <li>弊社は、クライアントが、以下の各号のいずれかの事由に該当する場合は、当該クライアントに対して警告し、又は当該クライアントについて事前の通知又は催告なくして本サービスの利用を一時的に停止し、もしくはクライアントとしての申込および利用を取り消すことができます。
                        <ol>
                            <li>申込時に第3条第3項各号に該当していたことが判明した場合又は現に同項各号に該当する場合。</li>
                            <li>反社会的活動を行っている場合その他反社会的勢力に該当する場合もしくはこれら企業と関連がある場合。</li>
                            <li>第14条各号に該当する行為を行った場合。</li>
                            <li>申込み時に登録されているメールアドレスに宛てられた電子メールが5回以上受信されなかった場合。</li>
                            <li>本規約に違反した場合その他、弊社が本サービスの利用継続を適当でないと判断した場合。</li>
                            <li>本サービスの利用に必要となる費用の入金が、弊社の指定する銀行口座に期日までに払い込まれなかった場合、または、過去に遅延をしていた場合。</li>
                            <li>労働法や下請法などの法律に違反し罰則が科せられた場合。</li>
                            <li>破産、民事再生、会社更生手続、会社整理もしくはクライアントの資産について差押や滞納処分を受けた場合。</li>
                            <li>本規約に違反した場合。</li>
                            <li>その他弊社が合理的な根拠によりクライアントとして不適当と判断した場合。</li>
                        </ol>
                    </li>
                    <li>前項の理由により契約が解除された場合は、当該時点で発生している弊社に対する一切の債務の全額を弊社の定める方法で支払うものとします。</li>
                    <li>弊社は、本条に基づき弊社が行った行為によりクライアントに生じた損害について一切の責任を負いません。</li>
                </ol>
            </dd>

            <dt>●第20条（利用料金）</dt>
            <dd>
                <p>クライアントは、本サービスの利用にあたって、弊社の定める料金をインターネット上の申込みページ、または申込書、契約書、あるいは覚書に従って支払うものとします。また、如何なる理由においても弊社へ減額、返金の申し入れをすることはできないものとします。</p>
            </dd>

            <dt>●第21条(本規約の変更)</dt>
            <dd>
                <p>弊社はクライアントの承諾を得ることなく本規約を随時変更することができるものとします。なお、変更の内容について、本サービスの管理画面上に一週間表示した時点で、全てのクライアントが承諾したものとみなします。</p>
            </dd>

            <dt>●第22条(第三者に対する責任)</dt>
            <dd>
                <p>クライアントが本サービスの利用により、第三者に対して損害を生じさせた場合には、クライアントの責任において解決し、弊社は何らの責任を負いません。</p>
            </dd>

            <dt>●第23条(損害賠償)</dt>
            <dd>
                <p>クライアントが、本規約に違反し、弊社に対し損害を与えた場合、クライアントは、弊社に対し、直接・間接を問わず一切の損害の賠償義務を負担します。</p>
            </dd>

            <dt>●第24条(管轄裁判所)</dt>
            <dd>
                <p>本サービスに関連して弊社とクライアントとの間で問題が生じた場合には、互いに誠意をもって協議するものとします。協議によっても解決しない場合、本規約に関する紛争については、東京地方裁判所を第一審の専属合意管轄裁判所とします。</p>
            </dd>

            付則この規約は2009年6月1日から実施します。

            2009年6月1日改定
        </dl>
    </div>

    <div class="modal-footer">
        <button class="btn btn-sm btn-success" data-dismiss="modal"><i class="ace-icon fa fa-check"></i> 了解</button>
    </div>
</div>