<div class="isotope">

    <div class="stamp col-xs-12 col-sm-6 col-lg-4">

        <div class="widget-box">

            <div class="widget-header widget-header-small header-color-green">
                <h5 class="bigger lighter"><i class="ace-icon fa fa-edit"></i>&nbsp;新しい公告</h5>
            </div>

            <div class="widget-body">

                <div class="widget-main padding-16">
                    <p class="alert alert-success">
                        システム公告は、SELinkの利用者全員見えるシステムのお知らせです。公開する前に、必ず公告内容を確認してください。
                    </p>
                </div>

                <div class="widget-toolbox padding-4 clearfix">
                    <button class="btn btn-sm btn-success btn-block btn-create">
                        <i class="ace-icon fa fa-bullhorn bigger-125"></i>&nbsp;公告作成
                        <i class="ace-icon fa fa-arrow-right icon-on-right bigger-125"></i>
                    </button>
                </div>
            </div>

        </div>

    </div>

</div>

<nav id="page_nav">
  <a href="/posts?page=1"></a>
</nav>