<div class="isotope">
    <div id="create-post" class="stamp col-xs-12 col-sm-6 col-lg-4 center">
<!--         <video id="example_video_1" class="video-js vjs-default-skin"
          controls preload="auto"
          poster="http://video-js.zencoder.com/oceans-clip.png" style="width: 100%;">
         <source src="upload/c46b9b59b8af1fc0fb3ea4ce83931dbd.MOV" type='video/mp4' />
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video> -->
    </div>
</div>

<nav id="page_nav">
  <a href="/newsfeed"></a>
</nav>

<div class="news-indicator alert alert-info align-bottom" style="display:none; width: 20%; position: fixed; bottom: -20px; left: 40%; right: 40%;">
    <strong>
        <i class="ace-icon fa fa-edit"></i>
        新しい投稿<span class="indicator-num"></span>件あります
    </strong>
    <button class="btn btn-xs btn-primary btn-load pull-right">
        <i class="ace-icon fa fa-download"></i>
        読込む
    </button>
</div>