<div class="isotope">
    <div class="stamp col-xs-12 col-sm-6 col-lg-4 center">
        <button class="btn btn-app btn-info no-radius btn-create" style="width: 100%;">
            <i class="ace-icon fa fa-edit"></i>
            記事を書く
        </button>
    </div>
</div>

<nav id="page_nav">
    <a href="/newsfeed"></a>
</nav>

<div class="news-indicator alert alert-info align-bottom" style="display:none; width: 20%; position: fixed; bottom: -20px; left: 40%; right: 40%;">
    <strong>
        <i class="ace-icon fa fa-edit"></i>
        新しい投稿<span class="indicator-num"></span>件あります
    </strong>
    <button class="btn btn-xs btn-primary btn-load pull-right">
        <i class="ace-icon fa fa-download"></i>
        読込む
    </button>
</div>