head(prefix="og: http://ogp.me/ns#")
  title
    | SELink Employer
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  link(rel='stylesheet', href='/css/bootstrap.min.css', media="screen")
  link(rel='stylesheet', href='/css/animate.min.css', media="screen")
  link(rel='stylesheet', href='/css/font-awesome.min.css', media="screen")
  link(rel='stylesheet', href='/css/jquery-ui.custom.min.css', media="screen")
  link(rel='stylesheet', href='/css/chosen.css', media="screen")
  link(rel='stylesheet', href='/css/fullcalendar.css', media="screen")
  link(rel='stylesheet', href='/css/jquery.gritter.css', media="screen")
  link(rel='stylesheet', href='/css/colorbox.css', media="screen")
  link(rel='stylesheet', href='/css/datepicker.css', media="screen")
  link(rel='stylesheet', href='/css/bootstrap-timepicker.css', media="screen")
  link(rel='stylesheet', href='/css/pace-theme-center-circle.css', media="screen")
  link(rel='stylesheet', href='/css/jquery.fileupload.css', media="screen")
  link(rel='stylesheet', href='/css/jquery.Jcrop.min.css', media="screen")
  link(rel='stylesheet', href='/css/ace-fonts.css', media="screen")
  link(rel='stylesheet', href='/css/ace.css', media="screen")
  link(rel='stylesheet', href='/css/style.css', media="screen")
  block css
  block js