<%
    var labelList = [
        'primary',
        'info',
        'success',
        'purple',
        'danger',
        'pink',
        'warning',
        'yellow'
    ];

    var startDate = obj.start ? moment(obj.start).format('YYYY/MM/DD') : "",
        startTime = obj.start ? moment(obj.start).format('HH:mm') : "",
        endDate = obj.end ? moment(obj.end).format('YYYY/MM/DD') : "",
        endTime = obj.end ? moment(obj.end).format('HH:mm') : "";
%>

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="row">
            <h4 class="blue bigger col-sm-3"><span class="ace-icon fa fa-bell-o"></span>&nbsp;&nbsp;イベント</h4>
            <div data-toggle="buttons" class="btn-group col-sm-8">
                <%
                    _.each(labelList, function(labelClass) {

                        var active = ('label-' + labelClass == obj.className) ? 'active' : '';

                        print('<label class="btn btn-sm btn-' + labelClass + ' ' + active + '">');
                        print('<input type="radio" name="label" value="label-' + labelClass + '" />');
                        print('&nbsp;&nbsp;</label>');
                    });
                %>
            </div>
        </div>
    </div>

    <div class="modal-body overflow-visible">

        <div class="row">
            <div class="form-group col-xs-8">
                <div class="input-group">
                    <span class="input-group-addon"><i class="ace-icon fa fa-tag"></i></span>
                    <input class="form-control" type="text" name="title" placeholder="タイトル" value="<%= obj.title %>" maxlength="50" />
                </div>
            </div>

            <div class="checkbox col-xs-4">
                <label>
                    <input class="ace" type="checkbox" name="allDay" <% if (obj.allDay) print('checked'); %>/>
                    <span class="lbl"> 終日</span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                    <input class="form-control" type="text" name="startDate" placeholder="開始日" value="<%= startDate %>"/>
                </div>
            </div>

            <div class="form-group col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon"><i class="ace-icon fa fa-clock-o"></i></span>
                    <div class="bootstrap-timepicker">
                        <input class="form-control" type="text" name="startTime" placeholder="開始時間" value="<%= startTime %>"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                    <input class="form-control" type="text" name="endDate" placeholder="終了日" value="<%= endDate %>"/>
                </div>
            </div>

            <div class="form-group col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon"><i class="ace-icon fa fa-clock-o"></i></span>
                    <div class="bootstrap-timepicker">
                        <input class="form-control" type="text" name="endTime" placeholder="終了時間" value="<%= endTime %>"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="hr hr-double dotted"></div>

        <div class="row">
            <div class="wysiwyg-editor" style="margin-left: 15px; margin-right: 15px;"><%= obj.memo %></div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> 取消</button>
        <% if (obj._id) { %>
            <button class="btn btn-sm btn-danger btn-remove"><i class="ace-icon fa fa-trash-o"></i> 削除</button>
        <% } %>
        <button class="btn btn-sm btn-success btn-save"><i class="ace-icon fa fa-check"></i> 保存</button>
    </div>
</div>