<div class="col-xs-12 col-sm-9">
    <div id='calendar'></div>
</div>

<div class="col-xs-12 col-sm-3">

    <div class="widget-box transparent">
        <div class="widget-header">
            <h4><span class="ace-icon fa fa-bell-o"></span>&nbsp;イベントリスト</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main no-padding">
                <div id='external-events'>
                    <div class='external-event label-success' data-class="label-success" data-allday="false" data-start="9:30" data-end="17:45"><i class="ace-icon fa fa-arrows"></i> 出勤</div>
                    <div class='external-event label-danger' data-class="label-danger" data-allday="false"><i class="ace-icon fa fa-arrows"></i> 昼休</div>
                    <div class='external-event label-purple' data-class="label-purple" data-allday="false"><i class="ace-icon fa fa-arrows"></i> 病休</div>
                    <div class='external-event label-yellow' data-class="label-yellow" data-allday="false"><i class="ace-icon fa fa-arrows"></i> 帰社</div>
                    <div class='external-event label-pink' data-class="label-pink" data-allday="false"><i class="ace-icon fa fa-arrows"></i> 私用</div>
                    <div class='external-event label-info' data-class="label-info" data-allday="false"><i class="ace-icon fa fa-arrows"></i> My Event </div>
                </div>
            </div>
        </div>
    </div>
</div>