<%
    var iconClass = "",
        title = ""
        resultStr = "確認済み";

    if (obj.type == "friend-invited") {
        iconClass = "ace-icon fa fa-user";
        title = "から友達になるリクエストがありました";

        if (obj.result == "approved")
            resultStr = "承認済み";
        else if (obj.result == "declined")
            resultStr = "拒否済み";

    }
    else if (obj.type == "friend-approved") {
        iconClass = "ace-icon fa fa-check-circle-o";
        title = "はあなたの友達リクエストを承認しました";
    }
    else if (obj.type == "friend-declined") {
        iconClass = "ace-icon fa fa-ban";
        title = "はあなたの友達リクエストを拒否しました";
    }
    else if (obj.type == "friend-break") {
        iconClass = "ace-icon fa fa-times-circle";
        title = "はあなたと友達を解除しました";
    }
%>

<div class="profile-activity clearfix isotope-item">
    <div>
        <a href="#profile/<%= obj._from._id %>">
            <img class="avatar pull-left" src="<%= obj._from.photo_ref %>">
        </a>

        <a class="user" href="#profile/<%= obj._from._id %>">
            <%= obj._from.firstName %>&nbsp;<%= obj._from.lastName %>
        </a>
        <%= title %>
        <div class="time"><i class="ace-icon fa fa-clock-o bigger-110"></i>&nbsp;<%= moment(obj.createDate).fromNow() %></div>
    </div>
    <% if (obj.result) { %>
        <div class="text-muted pull-right"><i class="ace-icon fa fa-check"></i>&nbsp;<%= resultStr %></div>
    <% } else if (obj.type == "friend-invited") { %>
        <div class="pull-right">
            <button class="btn btn-sm btn-pink btn-decline"><i class="ace-icon fa fa-times"></i>&nbsp;拒否</button>
            <button class="btn btn-sm btn-success btn-approve"><i class="ace-icon fa fa-check"></i>&nbsp;許可</button>
        </div>
    <% } else { %>
        <div class="pull-right">
            <button class="btn btn-sm btn-info btn-acknowledge pull-right"><i class="ace-icon fa fa-check"></i>&nbsp;了解</button>
        </div>
    <% } %>
</div>