<div class="widget-header">
    <h4 class="widget-title green">
        <i class="ace-icon fa fa-group"></i>
        お友達を招待
    </h4>
    <div class="widget-toolbar no-border">
        <a href="#" class="btn-add-all green">
            <i class="ace-icon fa fa-plus"></i>
            全員選択
        </a>
    </div>
</div>

<div class="widget-body">
    <div class="widget-main ace-thumbnails no-padding" style="max-height: 400px; overflow-y: auto; overflow-x: hidden;">
        <div id="friends_page_nav">
            <a href="/connections/friends"></a>
        </div>
    </div>
</div>