<a href="#" style="margin: 8px 10px;">

    <img src="<%= obj.photo %>" />

    <div class="tags">
        <span class="label-holder hidden check-mark">
            <span class="badge badge-success"><i class="ace-icon fa fa-check"></i></span>
        </span>
        <span class="label-holder">
            <span class="label label-info"><%= obj.firstName %>&nbsp;<%= obj.lastName %></span>
        </span>
    </div>

    <div class="text">
        <div class="inner">選択</div>
        <div class="inner hidden">解除</div>
    </div>

</a>