<div class="page-header">
    <h1 class="inline align-bottom">
        <i class="ace-icon fa fa-user"></i>
        お友達
    </h1>
    <button class="btn btn-sm btn-success btn-friends">
        <i class="ace-icon fa fa-th"></i>
        一覧
    </button>
    <button class="btn btn-sm btn-info btn-invited">
        <i class="ace-icon fa fa-paper-plane"></i>
        要請中
    </button>
    <button class="btn btn-sm btn-yellow btn-discover">
        <i class="ace-icon fa fa-search-plus"></i>
        探す
    </button>
</div>

<div id="display"></div>