extends layout

block content
  .container
    .row
      header#logo
        .col-md-12.col-sm-12
          h1
            | Sorry, We didn't find the page you want.
      footer
        .col-md-12.col-sm-12
          p.social-text
            span
          br
          small
            i ©2013 CVBakery. All rights reserved.
