doctype html
html(lang="en", xmlns="http://www.w3.org/1999/xhtml")
  head(prefix="og: http://ogp.me/ns#")
    title
      | SELink
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description", content="")
    meta(name="keywords", content="")
    link(rel='stylesheet', href='/css/bootstrap.min.css', media="screen")
    link(rel='stylesheet', href='/css/font-awesome.min.css', media="screen")
    link(rel='stylesheet', href='/css/jquery.gritter.css', media="screen")
    link(rel='stylesheet', href='/css/animate.min.css', media="screen")
    link(rel='stylesheet', href='/css/ace-fonts.css', media="screen")
    link(rel='stylesheet', href='/css/ace.min.css', media="screen")
    link(rel='stylesheet', href='/css/landing.css', media="screen")
    script(data-main="js/landing/boot", src="js/require.js")
  body.navbar-fixed
    .navbar.navbar-default.navbar-fixed-top(role="navigation")
      .navbar-header
        a.navbar-brand(href="#")
          small SELink
    .main-container
      .page-content
        .login-container.pull-right
          #sign-in-area
          #sign-up-area.hidden
    //- modal
    #modal-area.modal.fade(tabindex="-1")