<div class="modal-content">

    <!-- modal body -->
    <div class="modal-header">

        <!-- modal close button -->
        <button class="close" data-dismiss="modal" aria-hidden="true">x</button>

        <!-- modal title -->
        <h4 class="green">
            <i class="ace-icon fa fa-camera bigger-110"></i>&nbsp;&nbsp;
            <strong>画像・ビデオを投稿</strong>
        </h4>

    </div>

    <!-- modal body -->
    <div class="modal-body">

        <div class="well well-sm center no-margin"></div>
        <textarea style="width: 100%; border-top: 0px;"></textarea>

        <div class="progress progress-striped active">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <span class="sr-only">45% Complete</span>
            </div>
        </div>

        <div class="clearfix"></div>

    </div>

    <!-- modal footer -->
    <div class="modal-footer">

        <button type="button" class="btn btn-success">
            <i class="ace-icon fa fa-check"></i>
            投稿
        </button>

        <button type="button" class="btn" data-dismiss="modal">
            <i class="ace-icon fa fa-times"></i>
            取消
        </button>

    </div>

</div>